sentence-transformers==2.2.0
spacy==3.2.3
fastapi==0.68.1
uvicorn==0.15.0
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.2.0/en_core_web_trf-3.2.0-py3-none-any.whl
